body{
    text-align:center;
}
.row{   
    color:white;
    font-size:20px;
}
img{
    width:450px;
}
p{
    font-size:20px; 
    font-family: 'Muli', sans-serif;
    text-align: center;
}
.footer a{
    margin:15px;
    font-family: 'Muli', sans-serif;
    color:white;
    font-size: medium;
}
.footer{
    background-color:#7C3931;
}
.link{
    color:white;
}
.contact{
    background-color:#838143;
}
.contact a {
    margin:15px;
    font-family: 'Muli', sans-serif;
    color:white;
}
.aboutMain{
    display:flex;
}
.leftAbout{
    width:54%;
    font-size:20px;
}
.rightAbout{
    width:46%;
}
.rowShowcase img{
    height:150px;
    width:300px;
    margin:50px;
}